<html>
  <head>
    {% if title %}
    <title> {{ title }} - NMAP Results</title>
    {% else %}
    <title>NMAP Results</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/site.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text">PyNumeration</p>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Port Information<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('port_number', port_number='21') }}">FTP</a></li>
                <li><a href="{{ url_for('port_number', port_number='22') }}">SSH</a></li>
                <li><a href="{{ url_for('port_number', port_number='23') }}">Telnet</a></li>
                <li><a href="{{ url_for('port_number', port_number='25') }}">SMTP</a></li>
                <li><a href="{{ url_for('port_number', port_number='80') }}">HTTP</a></li>
                <li><a href="{{ url_for('port_number', port_number='443') }}">HTTPs</a></li>
                <li><a href="{{ url_for('port_number', port_number='110') }}">pop3</a></li>
                <li><a href="{{ url_for('port_number', port_number='139') }}">Netbios</a></li>
                <li><a href="{{ url_for('port_number', port_number='143') }}">Imap</a></li>
                <li><a href="{{ url_for('port_number', port_number='445') }}">Netbios-ssn</a></li>
                <li><a href="{{ url_for('port_number', port_number='995') }}">Pop3s</a></li>
                <li><a href="{{ url_for('port_number', port_number='3306') }}">MySQL</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>                
    {% block content %}{% endblock %}
  </body>
</html>
